<div class="bg-body-tertiary bg-opacity-50 fixed-bottom d-flex p-3">
  <footer class="w-100">
    <div class="d-flex justify-content-between">
        <span>Author: Joshua Edwards</span>
        <span>
          <a href="mailto:josh.edwards@steeldynamics.com"
            >josh.edwards@steeldynamics.com</a
          >
        </span>
      </div>
  </footer>
</div>
