<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <img src="<%- process.env.DOMAIN %>steeldynamicslogo.png"
                        alt="" class="rounded mx-auto d-block m-3" />
            <div class="card-body">
              <h5 class="card-title">Forgot Password</h5>
              <form
                action="<%- process.env.DOMAIN %>forgotpassword"
                method="post"
                class="needs-validation"
                novalidate
              >
                <div class="mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="email"
                    autofocus
                    required
                  />
                  <div class="valid-feedback">Correct</div>
                </div>
                <div class="d-grid">
                  <button class="btn btn-success">Reset Password</button>
                </div>
                <div>
                  or <a href="<%- process.env.DOMAIN %>login">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>