<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <img src="<%- process.env.DOMAIN %>steeldynamicslogo.png"
                        alt="" class="rounded mx-auto d-block m-3" />
            <div class="card-body">
              <h5 class="card-title">Reset Password</h5>
              <form
                action="<%- process.env.DOMAIN %>passwordReset"
                method="post"
                novalidate
              >
                <div class="mb-3">
                  <label class="form-label" for="password">New Password</label>
                  <input
                    class="form-control"
                    type="password"
                    id="password"
                    name="password"
                    autofocus
                    required
                  />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="passwordConfirm">Confirm Password</label>
                    <input
                      class="form-control"
                      type="password"
                      id="passwordConfirm"
                      name="passwordConfirm"
                      autofocus
                      required
                    />
                  </div>
                  <input type="hidden" name="id" value="<%= id %>">
                  <input type="hidden" name="token" value="<%= token %>">
                <div class="d-grid">
                  <button class="btn btn-success">Submit Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>